---
name: Billet Hungarian Pairs Matching System
author: John Vivian
description: Hungarian Matching
show-code: False
params:
    pairing_matrix_path:
        input: file
        label: Excel document with rows as pilots, columns as billet locations, and values as ranking. (1 is first choice, etc)
    checkbox_random:
        label: This will randomize the rows before pairing
        input: checkbox
        value: True
---

In [22]:
pairing_matrix_path = 'example-matrix.xlsx'
checkbox_random = True

In [23]:
import pandas as pd
from scipy.optimize import linear_sum_assignment

# Starting Matrix

In [24]:
df = pd.read_excel(pairing_matrix_path, index_col=0)
df

                   San Diego  Swamp  Rose City  Mars  Oklahoma  Literal Hell
Doctor Long Bones          1      4          3     2         6             5
Shrek                      4      1          2     5         3             6
Donkey                     2      1          4     6         3             5
Levy                       3      4          1     2         5             6
Eren Jager                 4      3          1     2         5             6
Satan                      6      5          4     3         2             1

# Shuffled Matrix

In [25]:
df = df.sample(n=len(df))
df

                   San Diego  Swamp  Rose City  Mars  Oklahoma  Literal Hell
Eren Jager                 4      3          1     2         5             6
Doctor Long Bones          1      4          3     2         6             5
Levy                       3      4          1     2         5             6
Donkey                     2      1          4     6         3             5
Shrek                      4      1          2     5         3             6
Satan                      6      5          4     3         2             1

In [26]:
row, col = linear_sum_assignment(df)

# Assignments

In [33]:
for i in range(len(row)):
    row_idx = row[i]
    col_idx = col[i]
    name = df.index[row_idx]
    location = df.columns[col_idx]
    print(f'{name} - {location}')

Eren Jager - Rose City
Doctor Long Bones - San Diego
Levy - Mars
Donkey - Swamp
Shrek - Oklahoma
Satan - Literal Hell